######################################################################
# {{ ansible_managed }}
# Manual customization of this file is futile, and will be smashed.
######################################################################
NETWORKING=yes
HOSTNAME={{ net_hostname }}
