######################################################################
# {{ ansible_managed }}
# Manual customization of this file is futile, and will be smashed.
######################################################################
domain {{ primary_domain }}
nameserver {{ nameserver1 }}
nameserver {{ nameserver2 }}
search {{ search_domains }}
